.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: rgba(67 190 255);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-image: url("../imgs/trees.png");
}

#panel1 {
  margin-left: 10em;
  border: 1px solid;
  margin-top: -1px;
  padding: 1em;
}
